# Database
DATABASE_URL=
DIRECT_URL=

# Better-Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# encryption key (must be 32 chars) -> run `openssl rand -hex 16`
WABA_TOKEN_ENCRYPTION_KEY=

# Webhook Token (secret for handshake with meta webhook config) -> run `openssl rand -hex 16`
META_WEBHOOK_SECRET=

# Our Meta App secret
META_APP_SECRET=