# Database
DATABASE_URL=
DIRECT_URL=

# Better-Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_TIME_ZONE=Asia/Jakarta

# encryption key (must be 32 chars) -> run `openssl rand -hex 16`
ENCRYPTION_KEY=

# Webhook Token (secret for handshake with meta webhook config) -> run `openssl rand -hex 16`
META_WEBHOOK_SECRET=

# Our Meta App credentials (required for Embedded Signup token exchange)
NEXT_PUBLIC_META_APP_ID=
META_APP_SECRET=

# Embedded Sign Up Config ID
NEXT_PUBLIC_FACEBOOK_CONFIG_ID=

# Email App
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Logger
LOG_LEVEL="info"

# Digital Ocean Space Object Storage
DIGITAL_OCEAN_SPACES_BUCKET_NAME=
DIGITAL_OCEAN_SPACES_BUCKET_ENDPOINT=
DIGITAL_OCEAN_SPACES_BUCKET_ACCESS_KEY=
DIGITAL_OCEAN_SPACES_BUCKET_SECRET_KEY=
